#tbCalendar td:first-child, #tbCalendar th:first-child {
    width:120px; 
    max-width:120px;
    min-width:120px;
}

.fht-table td:first-child, .fht-table th:first-child {
    width:120px; 
    max-width:120px;
    min-width:120px;
}

#tbCalendar td, #tbCalendar th
        {
      min-width:47px;
      max-width:47px;
            border-left: solid 1px #e0e0e2 !important;
            border-bottom: solid 1px #e0e0e2 !important;
           
        }
.fht-table td, .fht-table th {
        min-width:47px;
      max-width:47px;
       border-left: solid 1px #e0e0e2 !important;
            border-bottom: solid 1px #e0e0e2 !important;
}
  #tbCalendar td:not(:first-child)
  {
      text-align:center;
  }
    .fht-table td:not(:first-child)
  {
      text-align:center;
  }



        #tbCalendar th, .fht-table th
        {
          
            background: #eaeaec !important;
            text-align: center !important;
            color: #444444;
            padding: 3px 2px;
        }
        .content-table, #tbCalendar,.fht-table
        {
            width: 80% !important;
        }
        .hidden{
            display:none;
        }
        #tbCalendar, .fht-table
        {
            border-top: solid 1px #e0e0e2 !important;
            border-right: solid 1px #e0e0e2 !important;
            font-family: Arial !important;
            font-size: 14px !important;
        }
        #tbCalendar td.day:hover,.fht-table td.day:hover
        {
            background: #eaeaec !important;
            cursor:pointer;
        }
.day {
    width:120px;
    display:inline-block;
}
        #dialog-form
        {
            height: 55px !important;
        }
        #dv-loader
        {
            text-align: center;
        }
        .scheduleid, .daytypeid
        {
            display: none;
        }
        .notexist
        {
            background: #e5e5e7;
            text-align: center;
        }
        .notexist:hover
        {
            background: #e5e5e7 !important;
        }
        .ui-dialog .ui-dialog-titlebar-close
        {
            top: 6px !important;
        }
        .ui-widget-header
        {
            background-image: url('http://code.jquery.com/ui/1.10.3/themes/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png') !important;
        }
        .ui-dialog .ui-dialog-buttonpane button
        {
            margin: .5em .4em .5em 0 !important;
            border: 1px solid #d3d3d3 !important;
        }
        .department
        {
            background: #eaeaec !important;
            font-weight: bold;
            color: #444444;
            font-size: 14px !important;
        }