/*#employeesTabPanel-body{
    margin-top:0px;
    padding-top:0px;
    top:0px!important;
    bottom:-33px!important;
}*/



#tabPanel-body {
    border: none !important;
}

#topPanel {
    background-color: #157fcc !important;
}

#leftPanel_header {
    background-color: #157fcc !important;
}

#leftPanel-body {
    top: 0px !important;
}



/*Ajusted by Elie*/
#employeesTabPanel .x-tab {
    background-color: #157fcc;
    color: white !important;
    border: none !important;
}

#employeesTabPanel-body {
    top:32px !important;
        border-color: #fff !important;
}
#employeePanel-body {
    border-color:#fff !important;
}
#employeesTabPanel .x-tab-active {
    color: white !important;
   
}

#employeesTabPanel .x-tab-inner {
    color: white !important;
    
}


#employeesTabPanel .x-tab-default-top.x-tab-focus {
    box-shadow: none !important;
   
 
}

#employeesTabPanel .x-tab-icon-el {
    display: none !important;
}

#employeesTabPanel .x-tab-bar-strip {
    display: none !important;
}

#employeesTabPanel .x-tab-active {

    border-bottom: 2px solid orange !important;
    top:0px !important;
}

#employeesTabPanel .x-tab-focus {
    border-bottom: 2px solid orange !important;
    top:0px !important;
}

#employeesTabPanel .x-tab-default-top {   
    padding: 4px 12px 6px 12px;
    top:1px !important;
}


#leftPanel .x-panel-header-default .x-tool-focus {
    outline: 0px solid #fff !important; 
    outline-offset: 1px;
}
input[readonly]
{
    background:rgba(0,0,0,0)!important;
    border:none!important;
}
#leftPanel{
    text-align:center;
}
#basicInfoTab .x-toolbar
{
    width:600px!important;
}
.x-toolbar-footer
{
    background-color:white;
}
#alignedPanel{
    text-align:center!important;
}
#img{
    text-align:left!important;
}